<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

	<beans >
	
		<bean id="address" class="com.gp.spring.dependency.model.Address">
			<property name="city"><value>Bangalore</value></property>
			<property name="state"><value>Karnataka</value></property>
			<property name="pinCode"><value>560066</value></property>
			<property name="country"><value>India</value></property>
		</bean>
	</beans>
